.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 1500px) {
.h-custom {
height: 100%;
}

}
@media only screen and (min-width: 100px) {
    

.img-fluid{
    width: 40%;
    display: block;
    margin: 0 auto;
    
}
}
@media only screen and (min-width: 1000px) {
    

    .img-fluid{
        width: 80%;
        display: block;
        margin: 0 auto;
        
    }
    }
